.profile-pic {
    float: right;
    width: 200px;
    height: 180px;
}

.editPhoto{
    position: absolute;
}

.picdiv{
    position: relative;
}

.pic{
    position: absolute;

}

.pic:hover{
    cursor: pointer;
    cursor: hand;
}