body {
    padding-top: 60px;
    padding-bottom: 40px;
    background: url('/static/img/bg2.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sidebar-nav {
    padding: 9px 0;
}

.form-body{
    padding-top: 60px;
    padding-bottom: 40px;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.display-area {
    background-color: #ffffff;
    padding: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.timestamp{
    float : right;
}

.name {
    font-weight: bold;
    color: #333;
    /*rgb(59, 89, 152);*/
}

.username {
    font-weight: normal;
    font-size: 12px;
    color: #888;
}

.thumbnail-user {
    width: 60px;
    height: 60px;
    float: left;
    margin-top: 5px;
}

.cover {
    overflow: hidden;
    background-image: url('/static/img/cover.jpg');
    padding: 25px 25px 20px 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.long-list {
    min-height: 500px;
}